$container-width: 118rem;

$basic-font-size: 10px;
$basic-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$semibold-weight: 600;
$medium-weight: 500;

$large-break-point: 1200px;
$medium-break-point: 1060px;
$small-break-point: 840px;
$smaller-break-point: 700px;
$tiny-break-point: 350px;
